<div class='body' style="z-index:1;">
  <span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </span>
  <div class='base'>
    <span></span>
    <div class='face'></div>
  </div>
</div>
<div class='longfazers bg-gradient-primary overflow-hidden'>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
<h1>chargement...</h1>
