<div class="content-overlay">
  <div class="content-center-vertical">
      <div class="scroll-full">
        <div class="table-responsive">
            <table class="table align-items-center">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Cash upgrade</th>
                        <th scope="col">Produit</th>
                        <th scope="col">Bonus</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Achat</th>
                        <button type="button" class="close" (click)="closeEvent.emit()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let upgrade of upgrades">
                        <th scope="row">
                            <div class="media align-items-center">
                                <a href="#" class="avatar rounded-circle mr-3" style="background-color:transparent">
                                    <img style="border-radius:0;" alt="Image placeholder" [attr.src]='"http://localhost:9091/icons/"+upgrade.logo'>
                                </a>
                                <div class="media-body">
                                    <span class="mb-0 text-sm">{{upgrade.name}}</span>
                                </div>
                            </div>
                        </th>
                        <td>{{world.products.product[upgrade.idcible-1].name}}</td>
                        <td>X {{upgrade.ratio}}</td>
                        <td>{{upgrade.seuil}}</td>
                        <td *ngIf="upgrade.unlocked==false"><button (click)="buyUpgrade(upgrade.idcible)" [disabled]="!availabilityUpgrades(upgrade.idcible)" id="button" style="height:100%;width:100%;" type="button" class="btn btn-primary">Acheter</button></td>
                        <td *ngIf="upgrade.unlocked==true">
                            <a class="avatar rounded-circle mr-3" style="width:30px;height:30px">
                                <img alt="Image placeholder" src="../../assets/purchase.png">
                            </a>
                        </td>
                    </tr> 
                </tbody>
            </table>
        </div>
      </div>
  </div>
</div>
