<div class="content-overlay">
  <div class="content-center-vertical">
      <div class="scroll-full">
        <div class="table-responsive">
            <table class="table align-items-center">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Score</th>
                        <th scope="col">Total Angel Investors</th>
                        <th scope="col">Active angels</th>
                        <th scope="col">Angels claimed to restart</th>
                        <button type="button" class="close" (click)="closeEvent.emit()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{score}}</td>
                        <td>{{totalangels}}</td>
                        <td>{{activeangels}}</td>
                        <td>{{updateAngelsClaimedToRestart()}}</td>
                        <td><button (click)="resetWorld()" [disabled]="!availabilityReset()" id="button" style="height:100%;width:100%;" type="button" class="btn btn-primary">Resest</button></td>
                    </tr> 
                </tbody>
            </table>
        </div>
      </div>
  </div>
</div>