<div class="content-overlay">
    <div class="content-center-vertical">
        <div class="scroll-full">
            <div class="table-responsive">
                <table class="table align-items-center">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Manager</th>
                            <th scope="col">Produit</th>
                            <th scope="col">Prix</th>
                            <th scope="col">Achat</th>
                            <button type="button" class="close" (click)="closeEvent.emit()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let manager of managers">
                            <th scope="row">
                                <div class="media align-items-center">
                                    <a href="#" class="avatar rounded-circle mr-3">
                                        <img alt="Image placeholder" [attr.src]='"http://localhost:9091/icons/"+manager.logo'>
                                    </a>
                                    <div class="media-body">
                                        <span class="mb-0 text-sm">{{manager.name}}</span>
                                    </div>
                                </div>
                            </th>
                            <td>{{world.products.product[manager.idcible-1].name}}</td>
                            <td>{{manager.seuil}}</td>
                            <td *ngIf="manager.unlocked==false"><button (click)="buyManager(manager.idcible)" [disabled]="!availabilityManager(manager.idcible)" id="button" style="height:100%;width:100%;" type="button" class="btn btn-primary">Acheter</button></td>
                            <td *ngIf="manager.unlocked==true">
                                <a class="avatar rounded-circle mr-3" style="width:30px;height:30px">
                                    <img alt="Image placeholder" src="../../assets/purchase.png">
                                </a>
                            </td>
                        </tr> 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
