<div class='body' style="z-index:3;">
  <span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </span>
  <div class='base'>
    <span></span>
    <div class='face'></div>
  </div>
</div>
<div class='longfazers bg-gradient-primary overflow-hidden'>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
<h1>Choix du pseudo</h1>
<div class="content-change-user">
  <div class="form-group">
    <div class="input-group mb-4">
      <div class="input-group-prepend">
        <span class="input-group-text border-white"><i class="ni ni-zoom-split-in"></i></span>
      </div>
      <input #input (keyup.enter)="onEnter(input.value)" class="form-control border-white pl-2" placeholder="Votre pseudo" type="text">
    </div>
  </div>
</div>

  