.main-content{
    margin-left: 250px;
}
.card-img-prop{
    max-width: 150px;
    margin: 0 auto;
}

@media screen and (max-width: 767.98px) {
    .main-content{
        margin-left: 0px;
    }
}

app-world{
    position: relative;
    top: 25px;
}

.show{
    top: 0;
    transition: all 0.5s;
}