<app-header [hidden]="loading || checkUsername()" (changeMenu)="changeMenu($event)" [@enterAnimation]></app-header>
<app-world [ngClass]="{'show' : !loading}"></app-world>

<app-managers (closeEvent)="menu=''" *ngIf='menu=="managers"' [@enterAnimation]></app-managers>
<app-unlocks (closeEvent)="menu=''" *ngIf="menu=='unlocks'" [@enterAnimation]></app-unlocks>
<app-cash-upgrades (closeEvent)="menu=''" *ngIf='menu=="cash-upgrades"' [@enterAnimation]></app-cash-upgrades>
<app-investors (closeEvent)="menu=''" *ngIf="menu=='investors'" [@enterAnimation]></app-investors>

<app-change-username (close)="changeStateUsername($event)" *ngIf="checkUsername() && !loading"></app-change-username>
<app-loader [@myAwesomeAnimation]='loading && !checkUsername()'></app-loader>
