.overlay{
    z-index: 1;
    background-color: red;
}
.content-overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    margin: 0;
    z-index: 1;
}
.content-center-vertical{
    width: 95%;
    max-width:1400px;
    height: 95%;
    max-height: 750px;
    background-color: #f6f9fc;
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: 0 0 4rem 0rem rgba(0,0,0,0.5)!important;
    border-radius: 9px;
}
.close{
    position: absolute;
    right: 1rem;
    top: 0.75rem;
}
.close span{
    color: black;
    font-size: 2rem;
}
.shadow{
    border-radius: 12px;
    height: calc(100% - 90px);
    overflow: auto;
}
.table-responsive{
    overflow-x: initial !important;
}


@media screen and (max-width: 767.98px) {
    .shadow{
        height: calc(100% - 180px);
    }
}

