<div class="content-overlay">
  <div class="content-center-vertical">
    <button type="button" class="close" (click)="closeEvent.emit()">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="p-3" style="height:100%;">
      <div class="nav-wrapper">
        <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
            <li class="nav-item">
                <a (click)="tab='AllUnlocks'" [ngClass]="{'active': tab == 'AllUnlocks'}" class="nav-link mb-sm-3 mb-md-0 cursor"><i class="ni ni-cloud-upload-96 mr-2"></i>AllUnlocks</a>
            </li>
            <li class="nav-item">
                <a (click)="tab='Personnel'" [ngClass]="{'active': tab == 'Personnel'}" class="nav-link mb-sm-3 mb-md-0 cursor"><i class="ni ni-bell-55 mr-2"></i>Personnel</a>
            </li>
        </ul>
      </div>
      <div class="card shadow" style="border-radius:12px;">
        <div class="card-body p-2">
            <div class="tab-content">
                <div class="tab-pane fade" [ngClass]="{'show active': tab == 'AllUnlocks'}">
                  <div class="table-responsive">
                    <table class="table align-items-center">
                      <thead class="thead-light">
                          <tr>
                              <th scope="col">Nom</th>
                              <th scope="col">Pallier</th>
                              <th scope="col">Type</th>
                              <th scope="col">Ratio</th>
                              <th scope="col">Acquis ?</th>
                          </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let unlock of allUnlocks.pallier">
                            <td>{{unlock.name}}</td>
                            <td>{{unlock.seuil}}</td>
                            <td>{{unlock.typeratio}}</td>
                            <td>X {{unlock.ratio}}</td>
                            <td *ngIf="unlock.unlocked==false">
                              <a class="avatar rounded-circle mr-3" style="width:30px;height:30px;background-color:transparent;">
                                  <img alt="Image placeholder" src="../../assets/locked.png">
                              </a>
                            </td>
                            <td *ngIf="unlock.unlocked==true">
                                <a class="avatar mr-3" style="width:30px;height:30px">
                                    <img alt="Image placeholder" src="../../assets/purchase.png">
                                </a>
                            </td>
                        </tr> 
                      </tbody>
                  </table>
                  </div>
                </div>
                <div class="tab-pane fade" [ngClass]="{'show active': tab == 'Personnel'}">
                  <div class="table-responsive">
                    <table class="table align-items-center">
                      <thead class="thead-light">
                          <tr>
                              <th scope="col">Nom</th>
                              <th scope="col">Seuil</th>
                              <th scope="col">Type</th>
                              <th scope="col">Ratio</th>
                              <th scope="col">Acquis ?</th>
                          </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let pallier of palliersPerso">
                          <th scope="row">
                              <div class="media align-items-center">
                                  <a href="#" class="avatar mr-3" style="background-color:transparent">
                                      <img style="border-radius:0" alt="Image placeholder" [attr.src]='"http://localhost:9091/icons/"+pallier.logo'>
                                  </a>
                                  <div class="media-body">
                                      <span class="mb-0 text-sm">{{pallier.name}}</span>
                                  </div>
                              </div>
                            </th>
                          <td>{{pallier.seuil}}</td>
                          <td>{{pallier.typeratio}}</td>
                          <td>X {{pallier.ratio}}</td>
                          <td *ngIf="pallier.unlocked==false">
                              <a class="avatar rounded-circle mr-3" style="width:30px;height:30px;background-color:transparent;">
                                  <img alt="Image placeholder" src="../../assets/locked.png">
                              </a>
                            </td>
                            <td *ngIf="pallier.unlocked==true">
                                <a class="avatar mr-3" style="width:30px;height:30px">
                                    <img alt="Image placeholder" src="../../assets/purchase.png">
                                </a>
                            </td>
                        </tr>
                      </tbody>
                  </table>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
