<div class="content">
    <div class="row">
        <div *ngFor="let product of products" class="col-xl-4 col-lg-6 col-md-12 col-xs-12 mt-3">
            <div class="card shadow-custom card-stats mb-4 mb-xl-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-3 col-lg-12 col-md-12 col-xs-12 card-img-prop">
                            <div class="row" style="height: 110px;"><img  id="img_button-{{product.id}}" (click)="startFabrication(product.id)" class="m-auto cursor-pointer" height="90%" [attr.src]='"http://localhost:9091/icons/"+product?.logo' alt=""></div>
                            <div class="row"><span class="badge badge-pill badge-success">Seuil : {{product?.quantite}}</span></div>
                        </div>
                        <div class="col-xl-9 col-lg-12 col-md-12 col-xs-12 card-content-prop">
                            <div class="row">
                                <div class="col">
                                    <h4 class="card-title text-uppercase text-muted mb-0">{{product?.name}}</h4>
                                    <span class="h4 font-weight-bold mb-0">Prix : {{calculCout(product?.id) | number}} $</span>
                                </div>
                                <div class="col"><button id="button-{{product.id}}" (click)="nextSeuil(product.id)" style="height:100%;width:100%;" type="button" class="btn btn-primary">Seuil suivant</button></div>
                            </div>
                            <div class="progress-wrapper">
                                <div class="progress-info">
                                    <div class="progress-label">
                                        <span>{{product?.revenu*product?.quantite | number}} $</span>
                                    </div>
                                </div>
                                <progress-bar #progress [progress]="0" [color]="'#5e72e'+product.id"></progress-bar>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                <span id="timeleft-{{product?.id}}" class="text-success"><i class="ni ni-time-alarm mr-2"></i>0 secondes</span>   
                            </p>
                        </div>
                    </div>
                    <div class="row" *ngIf="product.quantite == 0">
                        <div class="col-xl-12 over-btn">
                            <button id="btn-{{product.id}}" (click)="nextSeuil(product.id)" type="button" class="btn btn-primary">Débloquer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
