.over-btn{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.39);
}

.over-btn > button{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 25%;
    transform: translate(-50%,-50%);
}