/* You can add global styles to this file, and also import other style files */
.cursor{
    cursor: pointer;
}
.cursor-pointer{
    cursor: pointer;
    transition: all 0.2s;
}
.modal{
    background-color: #00000094 !important;
    display: block !important;
}
.form-group{
    margin-bottom: 0 !important;
}
.w-full{
    width: 100%;
}

.content{
    margin: 4rem;
    margin-top: -8rem;
}
.badge{
    text-align: center;
    margin: 0 auto;
    margin-top: 1rem;
}
.content > .row{
    margin-bottom: 2rem;
}
.shadow-custom{
    box-shadow: 0 0 2rem 0 rgba(136,152,170,0.25)!important;
}
.cursor-pointer{
    cursor: pointer;
    transition: all 0.2s;
}
.cursor-pointer:active{
    transform: scale(1.3);
    transition: all 0.2s;
}

.content-center-vertical{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.content-center-vertical-fixed{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translate(-50%,-50%);
    background-color: red;
}

.progress-inner{
    color:transparent !important;
    min-width:0% !important;
    height:15px;
}

.scroll-full{
    overflow: auto;
    height: 100%;
}

.close{
    background-color: #f6f9fc !important;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #5e72e4;
    border-radius: 50px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #5e72e4;
}

@media screen and (max-width: 767.98px) {
    .content{
        margin: 1rem;
        margin-top: -7rem;
    }
}

@media screen and (max-width: 1200px) {
    .card-img-prop{
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1650px){
    .card-img-prop{
        flex: 0 0 100%;
        margin-bottom: 2rem;
        max-width: 100%;
    }
    .card-content-prop{
        max-width: 100%;
        flex: 0 0 100%;
    }
}
