<div class="header bg-gradient-primary pb-8 pt-5">
  <div class="container-fluid">
    <div class="header-body pb-3 px-6">
      <div class="row">
        <div class="col-xl-9 position-relative" style="height:110px">
            <img style="display:inline-block" height="100%" class="m-auto" [attr.src]='"http://localhost:9091/icons/"+world?.logo' alt="...">
            <div class="header-description" style="display:inline-block">
                <h1 class="text-white text-left">Bienvenue sur {{world?.name}}</h1>
                <p class="text-white">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio ratione dolores nisi laborum sequi. </p>   
            </div>   
        </div>
        <div class="col-xl-3 text-right">
          <div class="position-relative">
            <div (click)="changeUsername=true" class="icon icon-shape icon-custom rounded-circle shadow text-right cursor-pointer">
              <i class="ni ni-single-02"></i>
            </div>
            <div class="name-custom mt-1">
                <h4 class="text-white text-right mb-0">{{username}}</h4>
                <h4 class="text-white text-right">Argent généré : {{world?.money | number}} $</h4>
            </div>
          </div>
          <button (click)="changeFacteur()" class="btn btn-icon btn-3 btn-default mt-3" type="button">X {{facteursMultiplicatifs[currentFacteur]}}</button>
        </div>
      </div>
      <div class="row mb-0 mt-4 mx-4">
          <button (click)="changeMenu.emit('managers')" class="btn btn-icon btn-3 btn-default" type="button">
            <span *ngIf="cptManagers!=0" class="btn-inner--icon badge text-white m-0" style="background-color:#815ee4; font-size:80%;">{{cptManagers}}</span>
            <span class="btn-inner--text">Managers</span> 
          </button>
          <button (click)="changeMenu.emit('unlocks')" type="button" class="btn btn-default text-white">Unlocks</button>
          <button (click)="changeMenu.emit('cash-upgrades')" class="btn btn-icon btn-3 btn-default" type="button">
            <span *ngIf="cptUpgrades!=0" class="btn-inner--icon badge text-white m-0" style="background-color:#815ee4; font-size:80%;">{{cptUpgrades}}</span>
            <span class="btn-inner--text">Cash upgrades</span> 
          </button>
          <button (click)="changeMenu.emit('angels')" type="button" class="btn btn-default text-white">Angel Upgrades</button>
          <button (click)="changeMenu.emit('investors')" type="button" class="btn btn-default text-white">Investors</button>
      </div>
    </div>
  </div>
</div>
<app-change-username (close)="changeUsername=false;username=$event" *ngIf="changeUsername"></app-change-username>
