.icon-custom{
    background-color: #f8f9fe;
    color: #555a73;
}
.name-custom{
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 4rem;
}
.header-description{
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 2rem;
}


@media screen and (max-width: 767.98px) {
    .header-description h1{
        font-size: 1.1rem;
    }
    .header-description p{
        font-size: 0.85rem;
    }
    .header-body{
        padding: 0 !important;
    }
}